node_modules
package-lock.json
.DS_Store
.npmignore

/dist

/android/Detonator/build/
/ios/Detonator/.swiftpm/

/template/dist
/template/android/HelloWorldApp/app/src/main/assets/dist
/template/ios/HelloWorldApp/HelloWorldApp/Resources/dist